
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width" />
        <title>Wallet</title>
    </head>

    <body>
        <h3>Wallet header</h3>
    </body>
</html>
